* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(226, 231, 230);
}

h1,
.form {
    display: flex;
    justify-content: center;
}

.form {
    padding-top: 20px;
}

.form input {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 4px;
    margin: 5px;
}

.form .text {
    border: thin;
}

#form-text-area {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 5px;
    width: 250px;
    height: 100px;
    resize: none;
}

.btn {
    color: #fff;
    font-weight: bold;
    align-items: center;

}

.submit {
    background-color: rgb(10, 167, 10);
    border-color: rgb(10, 167, 10);
}

.cancel {
    background-color: #EB5160;
    border-color: #EB5160;
}