.card-container {
    margin: 15px 0;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-group-container {
    display: flex;
    justify-content: center;
}