@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.logo {
    height: 100px;
}

.title-name {
    color: #FFF;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    padding-left: 2rem;
}