.btn-close-modal {
    display: flex;
    justify-content: flex-end;
    height: 5%;
}

.succeed-modal {
    position: absolute;
    width: 500px;
    top: 25%;
    left: 40%;
    z-index: 1000;
    background-color: #fff;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 20px;
}